<!-- <nav class="icon-bar">
  <ul id="ul">
    <li ><a class="active" routerLink="nav"><i class="fa fa-home"></i></a></li>
  </ul>
    <ul>
     <li><a href="all">All</a></li>
     <li><a routerLink="vedios">Vedios</a></li>
     <li><a routerLink="photos">Photos</a></li>
     <li><a routerLink="news">News</a></li>
    </ul>
</nav> -->



<!-- navbar -->
<nav id="main" class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div id="container" class="container-fluid">
    <button id="toggle " class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="icon-bar" >
      <li>
        <a class="active" routerLink="nav">
          <i class="fa fa-home"></i>
        </a>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="all">All</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="vedios">Vedios</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="news">News</a>
          </li>   
      </ul>
    </div>
  </div>
</nav>





<!-- books assignment -->

<div class="table-responsive" >
<table class="table">
  <thead class="thead-dark">
    <tr >
      <th  scope="col">
        <button class="btn btn-info" data-toggle="collapse" data-target="#books">
          <a routerLink="booksname">BookName</a>
        </button>  
      </th>
      <th scope="col">
        <button class="btn btn-info" data-toggle="collapse" data-target="#author" >
          <a routerLink="author">Author</a>
        </button>
      </th>
      <th  scope="col">
        <button class="btn btn-info" data-toggle="collapse" data-target="#pages">
          <a routerLink="pages">Pages</a>

        </button>
      </th>
      <th   scope="col">
        <button  class="btn btn-info" data-toggle="collapse" data-target="#price">

          <a routerLink="price">Price</a>
        </button>
      </th>
      <th   scope="col">
        <button class="btn btn-info" data-toggle="collapse" data-target="#review">

          <a routerLink="review">Review</a>
        </button>
      </th>
      
    </tr>
  </thead>
  <tbody>
    <!-- <tr id="books"  nFgFor='let authors of author;index as i'>
      <th>{{author[i]</th>
    </tr> -->
    <tr id="author">
      
    </tr>
    <tr id="pages">
     
    </tr>
    <tr id="price">
      
    </tr>
    <tr id="review">
      
    </tr>
  </tbody>
</table>
</div>

<router-outlet></router-outlet>