/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    overflow: hidden;
     background-color: #333;
     margin: 0;
     padding: 0;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
      padding-left: 20px; 
}

.icon-bar {
    width: 100%;
    background-color: #555; 
    overflow: auto;
  }

#ul{
    list-style-type: none;
    text-decoration: none;
}
#ul li{
    display: inline;
    float: left; 
    
}

#ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12.5px 24px;
    text-decoration: none;
    
}
#ul li a:hover{
    background-color: thistle;
}

.icon-bar #ul li{
    font-size: 25px;
}



ul{
    list-style-type: none;
    text-decoration: none;
}

li{
    font-size: 18px;
    display: inline;
    float: left; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
  
  }

li a:hover{
    background-color: thistle;
} */


/* css 2 */


/* bootstrap style */
nav{
    height: 50px;
    padding-left: 0px;
    
}
.icon-bar{
    padding-top: 10px;

}
.icon-bar li a{
 
    color: white;
    text-align: center;
    padding: 11px;
    padding-top: 30px;  
}

.icon-bar li a:hover{
    background-color: thistle;
}

.icon-bar li{
    font-size: 25px;
}

li a {
    color:white;
    text-align: center;
    padding: 13px;
    font-weight: bold;
  }

li a:hover{
    background-color: thistle;
} 

/* for toggler button */
#toggle{
    height: 50px;
}

/* container */
#container{
    margin-left: 0%;
    padding: 0%;
}


#main{
    margin-left: 0%;
    padding: 0%;
}

ul.icon-bar{
    padding-left: 15px;
}

span.navbar-toggler-icon {
    height: 20px;
}



table{
    margin-top: 20px;
    align-items: center;
    max-width: min-content;
    margin-left: 420px;  
}

button a{
    text-decoration:none ;
    font-weight: bold;
    color: white;
}

th a:hover{
    color: red;
}
